@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trajan+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');


@keyframes fade_animation {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fall_animation {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}


@media (min-width: 250px) {

  /* Background image for body */
  body {
    background-image: url(images/papyrus_rolle_1.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto;
    background-color: rgb(31, 30, 30);
    font-family: 'IM Fell English', 'Trajan Pro', 'Cinzel', 'Forum', serif;
    color: #0e0e0e;
    margin: 0;
    padding: 0;
  }

  /* Headline */
  .papyrus-font {
    font-size: 34px;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 8.5rem;
    padding-right: 10px;
    animation: fade_animation 2s;
  }

  /* Container for buttons */
  .container {
    max-width: 49rem;
    margin: 0 auto;
    background-color: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  /* Upper buttons placement */
  .button-wrapper_1 {
    display: flex;
    margin-top: 6rem;
    height: 250px;
  }

  /* Lower buttons placement */
  .button-wrapper_2 {
    display: flex;
    justify-content: center;
  }

  /* Generated names */
  .generated-name {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline 3px rgb(31, 30, 30);
    opacity: 0;
    animation: fade_animation 1s forwards;
  }

  /* Buttons styling */
  .generator-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 114px;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
    background-color: transparent;
    font-family: 'Trajan Pro', 'Cinzel', 'Forum', serif;
    color: #000000;
    font-size: 23px;
    font-weight: bold;
    opacity: 0;
    animation: fade_animation 2s forwards, fall_animation 2s forwards;
  }

  /* Buttons styling */
  .generator-button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(images/pillar_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    z-index: -1;
  }

  /* Buttons animation */
  .generator-button:hover {
    opacity: 0.7;
  }
}

@media (min-width: 2559px) {

  /* Background image change for 4k */
  body {
    background-image: url(images/papyrus_1.jpg);
    background-repeat: repeat;
    background-size: auto;
  }
}